@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Red Hat Text", serif;
    font-optical-sizing: auto;
    background-color: hsl(13, 31%, 94%) ;
}

.dessert{
   display: flex;
   flex-direction: column;
   width: fit-content;
}

.container{
    margin-left: 20%;
}
